<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <style>
        body { font-family: Helvetica, sans-serif; }
    </style>
    <body>

        <p style="text-align:left">
            Universidad de Carabobo<br>                             
            Facultad Experimental de Ciencias y Tecnologia<br>        
            Departamento de Computacion<br>
            Unidad Academica de Elementos Discretos
        </p>
        
        <p style="text-align:center; font-family:Times New Roman;"><strong><br>
        <i>Solución</i>
        </p>
        <br>
        
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>   
                {% for ejercicio in pagination %}
                <div>
                      <tr>
                        <td>
                            {{ ejercicio.id }}
                        </td>
                        <td>
                            {{ ejercicio.descripcion | raw }}
                        </td>
                      </tr>
                      <tr>
                        <td>
                        </td>
                        <td>
                            Solucion:<br/>{{ ejercicio.solucion | raw }}
                        </td>
                      </tr>
                </div>
                 {% endfor %}   
            </tbody>
        </table>
    </body>
</html>