{% extends '::base.html.twig' %}
{% block body %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#"><img src="{{ asset('images/logo.png') }}" width="50px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="salir.php"><span class="glyphicon glyphicon-envelope"></span> Solicitar Registro</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>GIE</h1> 
  <p>Elementos Discretos <strong>I</strong> &amp; <strong>II</strong></p> 
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-3"><br></div>
		<div class="col-sm-6">
			
			<div class="contentbox createquiz">
				<h2>Ingresa al Sistema</h2>
				{{ render(controller('FOSUserBundle:Security:login')) }}
			</div>
		</div>
		<div class="col-sm-3"><br></div>
	</div>
</div>

<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>Enlaces de Interes</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <a href="http://entornovirtual.facyt.uc.edu.ve/" ><img src="./resources/imagenes/entornovirtual.png" alt="Entorno Virtual" width="200px"></a>
    </div>
    <div class="col-sm-4">
		 <a href="http://www.facyt.uc.edu.ve/"><img src="./resources/imagenes/cajas_estudiar.png" alt="FACYT" width="200px"></a>
    </div>
    <div class="col-sm-4">
		 <a href="http://sice.facyt.uc.edu.ve/"><img src="./resources/imagenes/sice.png" alt="SICE" width="200px"></a>
    </div>
  </div>
  <br><br>
</div>


<footer class="container-fluid text-center">
  <hr>
  <p>Powered By: <a href="http://www.fabricomidinero.xyz" title="Fabricomidinero" target="blank"><img src="http://fabricomidinero.xyz/images/logo_fabricomidinero.png"  width="100px"></a><strong> & </strong><a href="http://www.tecnosolvision.com.ve/" title="TecnoSolVisión" target="blank" rel="home" style="color:black;"><strong>TecnoSolVisión</strong></a><p>
</footer>
	{% if app.user %}
		{{ app.user.type }}
	{% else %}
		no esta definida
	{% endif %}
	Hello {{ name }}!
	}
{% endblock %}
